name: tests

on:
  push:
  pull_request:

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package and dev dependencies
        run: python -m pip install -U pip && python -m pip install -e .[dev]

      - name: Run pytest
        run: python -m pytest -p no:cacheprovider --basetemp .pytest_tmp tests
